{% extends 'base.html' %}
{%load crispy_forms_tags %}
{% block content %}

 <table class="table table-dark table-striped">
                    <tr>
                      <th class="table-primary">events</th>
                      <th class="table-secondary">about</th>
                      <th class="table-success">Date</th>
                        <th class="table-primary"></th>
                        <th class="table-secondary"></th>
                    </tr>
                    {% for i in view  %}
                    <tr>
                          <td class="table-primary">{{ i.event_name }}</td>
                          <td class="table-secondary">{{ i.discription }}</td>
                         <td class="table-success">{{ i.date }}</td>
                        <td class="table-primary"><a class="btn btn-primary" href=" {% url 'edit_todo' i.id %}" role="button">update</a></td>
                        <td class="table-secondary"><a class="btn btn-primary" href="{% url 'delete_todo' i.id %}" role="button">delete</a></td>
                    </tr>
                    {% endfor %}
 </table>

{% endblock %}